* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}

.color{
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        rgb(222, 222, 228) 0%,
        rgb(222, 222, 228) 50%,
        rgb(3, 3, 69)50%,
        rgb(3, 3, 69)100%
        );
        display: flex;
        justify-content: center;
        align-items: center;
}
.head{
    position: absolute;
    top: 15%;
    left: 4%;
    font-size: 70px;
    color: rgb(3, 3, 69);
}

.main ul {
  list-style: none;
  float: right;
  position: absolute;
  right: 2%;
  top:5%;
}

.main ul li {
  display: inline-block;
  position: relative;

}

.main ul li a {
  display: block;
  padding: 6px 55px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  margin-top: 15px;
}

.main ul li ul.dropdown li {
  display: block;

}

.main ul li ul.dropdown {
  width: 100%;
  position: relative;
  z-index: 999;
  display: none;
  background-color: rgb(3, 3, 69);
}

.main ul li a:hover {
  background: rgb(255, 255, 255);
  color: rgb(3, 3, 69);

}

.main ul li:hover ul.dropdown {
  display: block;
}

/* 
.main ul {
    list-style: none;
    background: rgb(3, 3, 69);
    float: right;
    margin-top: 1%;
    position: absolute;
    right: 1%;
}

.main ul li {
    display: inline-block;
    position: relative;

}

.main ul li a {
    display: block;
    padding: 10px 45px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.main ul li ul.dropdown li {
    display: block;

}

.main ul li ul.dropdown {
    width: 100%;
    background: rgb(3, 3, 69);
    position: absolute;

    z-index: 999;
    display: none;
}

.main ul li a:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

}

.main ul li:hover ul.dropdown {
    display: block;
} */

  .icons {
    display: flex;
    position: absolute;
    top: 70%;
    left: 10%;
}

.icons a{
    text-decoration: none;
    padding: 10px;
    background-color:  rgb(222, 222, 228);
    margin: 10px;
    border-radius: 50%;
}

.icons a i{
    font-size: 2em;
    color: rgb(3, 3, 69);

}

.icons a:hover{
    background-color:rgb(3, 3, 69);
    transition: 0.5s;
}

.icons a:hover i{
    color: rgb(222, 222, 228);
    transition: 0.5s;
}

.color pre{
  position: absolute;
  top: 27%;
  left: 3%;
  font-size: 25px;
  color: rgb(3, 3, 69);
}


.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 0px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background:  rgb(3, 3, 69);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: #818181;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: rgb(255, 255, 255);
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: rgb(255, 255, 255);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background:  rgb(255, 255, 255);
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color:  rgb(255, 255, 255);
  background: #cacaca;
}

.fancy:hover::before {
  width: 1.5rem;
  background:  rgb(255, 255, 255)e;
}

.fancy:hover .text {
  color:  rgb(255, 255, 255);
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}  
.set{
  position: absolute;
  top: 25%;
  right: 9%;
}