* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}

.main ul {
    list-style: none;
    float: right;
}

.main ul li {
    display: inline-block;
    position: relative;

}

.main ul li a {
    display: block;
    padding: 10px 55px;
    color: #befff6;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

.main ul li ul.dropdown li {
    display: block;

}

.main ul li ul.dropdown {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
}

.main ul li a:hover {
    background: #befff6;
    color: rgb(0, 0, 0);

}

.main ul li:hover ul.dropdown {
    display: block;
}

#one {
    background-image: linear-gradient(rgba(40, 40, 40, 0.75),rgba(40, 40, 40, 0.7)) ,url(pla1.jpg);
    background-size: cover;
    height: 100vh;
}

.title{
    position: absolute;
    top: 20%;
    left: 0%;
}

.title h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #befff6;
    font-size: 450%;
}

.t{
    position: absolute;
    top: 45%;
    left: 5%;
}

.t h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #befff6;
    font-size: 155%;
}

/* #one {
    height: 100vh;
} */

.box1{
    width: 100px;
    height: 776px;
    background-color: rgb(88, 136, 117);

}

.box2{
    width: 900px;
    height: 776px;
    background-color: rgb(21, 59, 54);

}

.box3{
    width: 520px;
    height: 776px;
    background-color: rgb(88, 136, 117);

}

#c01{
    display: flex;
    height: 100vh;
}

.box2 pre{
    position: absolute;
    top: 120%;
    left: 7%;
    font-size: 140%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(88, 136, 117);
}

.box2 h1{
    position: absolute;
    font-size: 450%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(88, 136, 117);
    top: 105%;
    left: 12%;
}

.im{
    position: absolute;
    top: 110%;
    right: 2%;
}

.mi{
    position: absolute;
    top: 155%;
    right: 2%;
}


#page3{
    height: 100vh;
}

.ox1{
    width: 1518px;
    height: 230px;
    background-color: rgb(88, 136, 117);

}

.ox2{
    width: 1518px;
    height: 550px;
    background-color: rgb(21, 59, 54);

}

.ox2 pre{
    position: absolute;
    top: 240%;
    right: 5%;
    font-size: 140%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(88, 136, 117);
}

.ox1 h1{
    position: absolute;
    font-size: 750%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(21, 59, 54);
    top: 210%;
    right: 7%;
}

.i {
    position: absolute;
    top: 215%;
    left: 8%;
}





#last{
    display: flex;
    height: 100vh;
}


.o2{
    width: 1100px;
    height: 776px;
    background-color: rgb(21, 59, 54);

}

.o3{
    width: 630px;
    height: 776px;
    background-color: rgb(88, 136, 117);

}

.o2 pre{
    position: absolute;
    top: 320%;
    left: 2%;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(88, 136, 117);
}

.o2 h1{
    position: absolute;
    font-size: 450%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(88, 136, 117);
    top: 305%;
    left: 3%;
}

.j {
    position: absolute;
    top: 310%;
    right: 4%;
}

.k {
    position: absolute;
    top: 355%;
    right: 4%;
}





.je h1{
    position: absolute;
    font-size: 450%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(88, 136, 117);
    top: 406%;
    left: 6%;
}

.je{
    width: 1518px;
    height: 165px;
    background-color: rgb(21, 59, 54);

}

.ll{
    width: 1518px;
    height: 650px;
    background-color: rgb(88, 136, 117);

}

#jelly{
    height: 100vh;
}

.ll pre{
    position: absolute;
    top: 430%;
    left: 2%;
    font-size: 140%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(21, 59, 54);
}

.ly{
    position: absolute;
    top: 430%;
    right: 4%;
}





#red{
    display: flex;
    height: 100vh;
}


.r1{
    width: 630px;
    height: 790px;
    background-color: rgb(88, 136, 117);

}

.r2{
    width: 1100px;
    height: 790px;
    background-color: rgb(21, 59, 54);

}

.r1 pre{
    position: absolute;
    top: 525%;
    right: 8%;
    font-size: 140%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(88, 136, 117);
}

.r1 h1{
    position: absolute;
    font-size: 550%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(88, 136, 117);
    top: 510%;
    right: 45%;
}

.rr {
    position: absolute;
    top: 515%;
    left: 4%;
}

.ee {
    position: absolute;
    top: 560%;
    left: 4%;
}




#shark{
    display: flex;
    height: 100vh;
}

.sh pre{
    position: absolute;
    top: 620%;
    left: 7%;
    font-size: 140%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(21, 59, 54);
}

.sh h1{
    position: absolute;
    font-size: 510%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(21, 59, 54);
    top: 609%;
    left: 9%;
}

.hr{
    width: 100px;
    height: 776px;
    background-color: rgb(21, 59, 54);

}

.sh{
    width: 890px;
    height: 776px;
    background-color:rgb(88, 136, 117);

}

.hs{
    width: 535px;
    height: 776px;
    background-color: rgb(21, 59, 54);

}

.rk{
    position: absolute;
    top: 610%;
    right: 4%;
}

.kr{
    position: absolute;
    top: 655%;
    right: 4%;
}




.hy a {

    top: 53%;
    color:rgb(88, 136, 117);
    font-size: 20px;
    }
    
    
    #yh{
        position: absolute;
        left: 5%;
    }
    
    #hh{
        position: absolute;
        left: 16.5%;
    }
    
    #yy{
        position: absolute;
        left: 23%;
    }
    
    #jj{
        position: absolute;
        left: 32.5%;
    }
    
    #kk{
        position: absolute;
        left: 36.5%;
    }
    

    #ss{
        position: absolute;
        left: 12%;
    }
    
    




footer {
    position: relative;
    top: 30%;
    margin: 0;
    padding: 0;
    height: 490px;
    font-family: Arial, sans-serif;
    /* width: 1200px; */
    /* width: 100vh; */
    background-color: #000000;
    color: #fff;
    /* padding: 10px 0; */
    text-align: center;
  }
  
  .container {
    margin-top: -190px;
    max-width: 1300px;
    /* margin: 0 auto; */
  }
  
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 50px;
  }

  .contact-info h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding-top: 30px;
    margin-left: 2px;
  }

  .footer-links h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding-top: 30px;
    margin-left: 10px;
  }


  /* .footer-links h3,
  .contact-info h3, */
  .social-icons h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding-top: 30px;
    margin-left: 90px;
  }
  
  .footer-links ul,
  .social-icons ul {
    text-align: start;
    list-style: none;
    padding: 0;
    margin-left: 100px;
  }
  
  .footer-links ul li,
  .social-icons ul li {
    margin-bottom: 10px;
  }
  
  .footer-links a,
  .social-icons a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  /* Add underline effect when hovering over footer links */
  .footer-links a:hover  
      {
      border-bottom: 1px solid #dad0d0;
  }
  .footer-links a:hover,
  .social-icons a:hover {
    color: #ddd;
  }
  
  
  /* Add underline effect when hovering over contact info */
  /* .contact-info:hover {
              border-bottom: 1px solid #f0e7e7;
          }
  .contact-info p {
    margin: 5px 0;
  }
   */
  .social-icons i {
    font-size: 1.5rem;
  }
  
  .social-icons a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #e4ebf0;
    border-radius: 50%;
    text-align: center;
    transition: background-color 0.3s ease;
    margin: 10px;
    margin-left: 90px;
    padding: 5px;
    text-decoration: none;
  }
  
  .social-icons a i{
      font-size:2em;
      color:black;
      opacity:0.9;
  }
  
  .social-icons a:hover {
    background-color: #0a0909;
    transition: 0.5s;
  }
  .social-icons a:hover i{
  color:white;
  transition: 0.5s;
  }
  
  /* .bottom-bar{
      background: antiquewhite;
      text-align: center;
      padding: 10px 0;
      margin-top: 70px ;
  } */

  .bottom-bar p{
      color: #ffffff;
      margin-left: 250px;
      font-size: 15px;
      padding: 50px;
  }




  /* .input {
    max-width: 190px;
    background-color: #f9f9fe;
    color: #070738;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    top: 65%;
    left: 45%;
    position: absolute;
  }
  
  input:focus {
    border-bottom: 2px solid rgb(6, 6, 6)c7;
    border-radius: 4px 4px 2px 2px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  } */


  .cs h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding-top: 30px;
  }
  
  .cs ul{
    text-align: start;
    list-style: none;
    padding: 0;
  }
  
  .cs ul li{
    margin-bottom: 10px;
    margin-left: 100px;
  }
  
  .cs a{
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  /* Add underline effect when hovering over footer links */
  .cs a:hover  
      {
      border-bottom: 1px solid #dad0d0;
  }
  .cs a:hover,
  .social-icons a:hover {
    color: #ddd;
  }

  .contact-info p {
    margin: 20px 80px;
    text-align: start;

  }


  